src/Snapchat.ApiClient/.vs/
src/Snapchat.ApiClient/SampleApplication/bin/
src/Snapchat.ApiClient/SampleApplication/obj/
src/Snapchat.ApiClient/Snapchat.ApiClient/bin/
src/Snapchat.ApiClient/Snapchat.ApiClient/obj/
*.user
*.nupkg
